@model IEnumerable<StripMall.Models.Orders>
@{
    ViewData["Title"] = "ViewAllOrders";
}

<h1>Your Orders :</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                Customer 
            </th>
            <th>
                Order Total
            </th>
            <th>
                Order Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                   |<a asp-action="ViewOrderAsync" asp-route-id="@item.OrderId">View</a>|
                </td>
            </tr>
        }
    </tbody>
</table>
